.footer {
  background-color: #d9896c;
  height: 70px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.copyright {
  color: #f1f1f1;
  font-weight: 900;
}
